<!DOCTYPE html>

<html>
  {%block header%}
    <title>{% block title %}Zona Roja{% endblock %}</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/barrios_id.json') }}"></script>
  {%endblock%}
  {%block content%}
    <h3>My Google Maps Demo</h3>
        <div id="map"></div>

    <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Registre el crimen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <form action="/" method="post" onsubmit="">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="fem" value="0" name="sexo" required>
              <label class="form-check-label" for="fem">F</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="masc" value="1" name="sexo" required>
              <label class="form-check-label" for="masc">M</label>
            </div>

            <select class="form-select" aria-label="Default select example" id="crimen" name="crimen" required>
              <option selected>Crime that ocurred </option>
              <option value="{{delitos.id[0]}}">{{delitos.nombre[0]}}</option>
              <option value="{{delitos.id[1]}}">{{delitos.nombre[1]}}</option>
              <option value="{{delitos.id[3]}}">{{delitos.nombre[2]}}</option>
              <option value="{{delitos.id[4]}}">{{delitos.nombre[3]}}</option>
              <option value="{{delitos.id[5]}}">{{delitos.nombre[4]}}</option>
            </select>

            <label for="start">Date </label>  
            <input type="date" id="start" name="dia" min="2017-01-01" required>

            <select class="form-select" aria-label="Default select example" id="horario" name="horario" required>
              <option selected>Time </option>
              <option value="{{periodo.id[0]}}">{{periodo.nombre[0]}}</option>
              <option value="{{periodo.id[1]}}">{{periodo.nombre[1]}}</option>
              <option value="{{periodo.id[2]}}">{{periodo.nombre[2]}}</option>
              <option value="{{periodo.id[3]}}">{{periodo.nombre[3]}}</option>
              <option value="{{periodo.id[4]}}">{{periodo.nombre[4]}}</option>
            </select>

            <div>
              <label for="coordenadas">Coordinates: </label>
              <Input type="text" id="coordenadas"name="coordenadas" readonly>
            </div>

            <div>
              <label for="barrio">Neighborhood: </label>
              <input type="text" id="barrio" name="barrio" readonly>
            </div>

            <div style="display:none;">
              <input type="text" id="barrio_id" name="barrio_id" readonly>
            </div>

            <button type="submit" class="btn btn-primary mb-3">Registre</button>
          </form>
        </div>
      </div>
    </div>
    
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT2oq_khguBFdxJfECeLT4ScJRDTa4fQo&callback=initMap&v=weekly&libraries=geometry"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script>
      if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
      }
  </script>
  {%endblock%}
</html>

{%block javascript%}
  <script type="text/javascript">
    let map;
    let am_casos = '{{am_casos}}';

    //agregar los markers de los casos ya registrados en markerArr[]
    function casos_marks(map){
      var i;
      let markerArr = [];
      let latLngArr = [];
      var ainfowindow = new google.maps.InfoWindow;
      var input, lat, lng, parsedPosition, icon;

      //loop en jinja para poder referenciar su index
      '{% for i in range(am_casos) %}'
      loc_string1 = '{{casos.lugar[loop.index]}}';
      loc_string = loc_string1.substring(1, loc_string1.length-1);
      latlngStr = loc_string.split(",", 2);
      lat = parseFloat(latlngStr[0]);
      lng = parseFloat(latlngStr[1]);
      latLngArr[i] = new google.maps.LatLng(lat, lng);

      //icono_barrio = "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
      amarker = new google.maps.Marker({
          position: latLngArr[i],
          map:map,
          icon:{                             
            url: "http://maps.google.com/mapfiles/ms/micons/red-pushpin.png"}
          });    
      amarker.setVisible(false);

      if ('{{casos.sexo[loop.index]}}' == 1){
        sex = 'male';
      }
      else if ('{{casos.sexo[loop.index]}}' == 0){
        sex = 'female';
      }

      google.maps.event.addListener(amarker, 'click', (function(amarker, i) {
         return function() {
             ainfowindow.setContent(     
              '<div id="content">' +
              '<div id="siteNotice">' +
              "</div>" +
              '<div id="bodyContent">' +
              "<p> Date: {{casos.fecha[loop.index]}} </p>" +
              "<p> Time: {{joined_t.periodo_nombre[loop.index]}} </p>" +
              "<p> Crime: {{joined_t.delitos_nombre[loop.index]}}</p>" +
              "<p> Sex of the victim: " + sex + "</p>" +
              "</div>" +
              "</div>");
             ainfowindow.open(map, amarker);
             
         }
      })(amarker, i));

      markerArr.push(amarker);
      
      '{% endfor %}'

      return {
        markers:markerArr,
        window:ainfowindow
      }
    };
    
    
    //The buttons to display the layers
    function LayerControl(controlDiv, map, barrios, marker, markerArr, ainfowindow, binfoWindow) {
    
      const controlUI = document.createElement("div");
      controlUI.type = "form";
      controlUI.style.backgroundColor = "#fff";
      controlUI.style.border = "2px solid #fff";
      controlUI.style.borderRadius = "3px";
      controlUI.style.boxShadow = "0 2px 6px rgba(0,0,0,.3)";
      controlUI.style.marginTop = "8px";
      controlUI.style.marginLeft = "10px";
      controlUI.style.textAlign = "left";
      controlUI.style.color = "rgb(25,25,25)";
      controlUI.style.fontFamily = "Roboto,Arial,sans-serif";
      controlUI.style.fontSize = "16px";
      controlUI.style.lineHeight = "38px";
      controlUI.style.paddingLeft = "5px";
      controlUI.style.paddingRight = "5px";
      controlDiv.appendChild(controlUI);
    
      const controlText1 = document.createElement("input");
      controlText1.id = "markerLayer";
      controlText1.name = "layer"
      controlText1.type = "radio";
      controlUI.appendChild(controlText1);
    
      const label1 = document.createElement("label");
      label1.setAttribute("for", "radio");
      label1.innerHTML = "Register crime";
      controlUI.appendChild(label1);
    
      controlText1.onchange = function() {
        if (this.checked) {
          marker.setMap(map);
          binfoWindow.close();
          barrios.setMap(null);
          for (var j = 0; j < am_casos; j++){
            markerArr[j].setVisible(true);
          }
          ainfowindow.open(map);
        }
      };
    
      const controlText2 = document.createElement("input");
      controlText2.id = "mapLayer";
      controlText2.name = "layer"
      controlText2.type = "radio";
      controlUI.appendChild(controlText2);
    
      const label2 = document.createElement("label");
      label2.setAttribute("for", "radio");
      label2.innerHTML = "See neighbourhood map";
      controlUI.appendChild(label2);
    
      controlText2.onchange = function() {
        if (this.checked) {
            marker.setMap(null);
            barrios.setMap(map);
            binfoWindow.open(map);
            ainfowindow.close();
            for (var j = 0; j < am_casos; j++){
              markerArr[j].setVisible(false);
          }
        }
      };
    };

    let barr_riesgo = JSON.parse({{ riesgo|tojson }});
    
    //This function will run when the site is loaded
    function initMap() {
    
      //Initialize the map
        const Cordoba = { lat: -31.417083, lng:-64.189796};
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12,
          center: Cordoba,
        });

        var barrios = new google.maps.Data()
        barrios.loadGeoJson("static/js/barrios_id.json");
        console.log(barrios);
        barrios.setStyle(function(feature){
          return{
          //choose color according to id
            fillColor: getColor(getRisk(feature.getProperty('id'))),
            fillOpacity: 0.7,
            strokeColor: getColor(getRisk(feature.getProperty('id'))),
            strokeWeight: 1,
          }
        });
        barrios.setMap(map);

        binfoWindow = new google.maps.InfoWindow();

        //hacer forma de comparar y buscar el riesgo
        barrios.addListener("click", function(e) {
          binfoWindow.setContent(
            '<div id="content">' +
              '<div id="siteNotice">' +
              '</div>' +
              '<div id="bodyContent">' +
                '<p> Neighborhood: ' + e.feature.getProperty("Name") + '</p>' +
                '<p> Crimes registered:  '+ getRisk(e.feature.getProperty('id')) +'</p>' +
              '</div>' +
            '</div>');
          binfoWindow.setPosition(e.latLng);
          binfoWindow.open(map);
        });

        //set style when mouse hovers on neighbourhood
        barrios.addListener('mouseover', function(e) {
          barrios.overrideStyle(e.feature, {
            strokeColor: 'white',
            strokeWeight: 2,
            zIndex: 2
          });
        });
        barrios.addListener('mouseout', function(e) {
          barrios.revertStyle();
        });
    
        //initalize new marker
        let marker = new google.maps.Marker({
          position: Cordoba,
          map:map,
          });
        marker.setMap(null);
    
        //set info window
        let contentString = '<div id="content">' +
        '<div id="siteNotice">' +
        "</div>" +
        '<div id="bodyContent">' +
            '<form>' +
                '<button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">' + 
                'Register' + '</button>' +
            '</form>' +
          "</div>" +
        "</div>";
    
        //add events for clicks in map, such as
        //changing position of marker, and showing infowindow
        var b_contains = false;
        google.maps.event.addListener(map, 'click', function(event){
          if (document.getElementById("markerLayer").checked) {
    
            let infowindow = new google.maps.InfoWindow({
              content: contentString,
            });
    
            //document.getElementById("map").style.cursor = "crosshair";
            position = event.latLng
            marker.setMap(map);
            marker.setPosition(position);
    
            marker.addListener("click", () => {
              infowindow.open({
              anchor: marker,
              map,
              shouldFocus: false,
              });
            });
    
            infowindow.open(map, marker);
            document.getElementById("coordenadas").value = position;
    
            b_contains = false;
            barrios.forEach(function(feature) {
              if (feature.getGeometry().getType() == "MultiPolygon") {
                // simplifying assumption, depends on data
                // just check first linear ring
                //console.log(feature.getGeometry().getArray()[0].getAt(0).getArray())
                var poly = new google.maps.Polygon({
                  paths: feature.getGeometry().getArray()[0].getAt(0).getArray()
                  //path: feature.getGeometry().getAt(0).getArray()
                });
                b_contains = b_contains || google.maps.geometry.poly.containsLocation(marker.getPosition(),poly)
                if (google.maps.geometry.poly.containsLocation(marker.getPosition(),poly)) {
                  // if inside polygon, create an infowindow with some information from the GeoJson
                  document.getElementById("barrio").value = feature.getProperty("Name");
                  document.getElementById("barrio_id").value = feature.getProperty("id");
                }
              }
            })
            if (!(b_contains)){
              document.getElementById("barrio").value = "";
              document.getElementById("barrio_id").value = "";
            }
            
          }
        });
    
      object = casos_marks(map);
      const LayerControlDiv = document.createElement("div");
      LayerControl(LayerControlDiv, map, barrios, marker, object.markers, object.window, binfoWindow);
      map.controls[google.maps.ControlPosition.LEFT_TOP].push(LayerControlDiv);

      
    
      //decide color
      function getColor(id){
        var colors = [
          '#d7191c',
          '#fdae61',
          '#ffffbf',
          '#a6d96a',
          '#1a9641'];
      
        return id > 4 ? colors[0] :
            id > 2 ? colors[1] :
            id > 0 ? colors[2] :
            id > 0 ? colors[3] :
            colors[4];
      };

      //se fija en el riesgo para cargar el color
      function getRisk(id){
        for (var i = 0; i < barr_riesgo.length; i++){
          if (id == barr_riesgo[i].id_barrio){
            return barr_riesgo[i].riesgo;
          }
        }
        return 0;
      }


    };
    
    window.initMap = initMap;
  </script>
{%endblock%}